# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      # Runs setup.sh in the root of the project directory. 
      - name: Run Setup Script
        run: sudo ./setup.sh
          
      # Removes source-control files and other miscellaneous files. Also fixes some permissions. Then puts all the project files under the plugin directory so Unreal Engine can find it
      - name: Prepare Project 
        run: |
          sudo rm -rf setup.sh *.md .git*
          sudo touch "MyROMs/Place Your ROMs in this Directory" "MyCores/Place Your Libretro Cores in this Directory"
          sudo mkdir UnrealLibretro
          sudo mv $(ls | grep -v UnrealLibretro) UnrealLibretro
          sudo touch "Place the UnrealLibretro directory into your Unreal Engine projects Plugin directory"
          sudo chmod -R 755 *
          
      - name: Upload Build-Artifact
        uses: actions/upload-artifact@v2.1.4
        with:
          # Artifact name
          name: UnrealLibretro
          # Upload the whole project directory
          path: ${{ github.workspace }}
          # The desired behavior if no files are found using the provided path.
          if-no-files-found: error
